# fix boto3/core version to prevent pip downloading all the versions caused by cloudpathlib
boto3>=1.28.56
botocore>=1.31.56
cpg-utils>=4.15.1
google-api-python-client==2.*
google-auth==2.*
pulumi-azure-native==2.21.2
pulumi-azuread==5.46.0
pulumi-gcp~=7.6
pulumi-github>=6.0.0
pulumi==3.96.2
pytest==8.3.2
toml-sort
toml==0.10.2
xxhash==3.2.0
metamist
# https://tenor.com/en-GB/view/magic-gif-26166638
metamist-infrastructure @ git+https://github.com/populationgenomics/metamist.git@8c6db36c820f335921d890a07a491a1b3746c710#subdirectory=metamist_infrastructure
setuptools>=65.5.1 # not directly required, pinned by pip-audit to avoid a vulnerability
