aiohttp
cpg-utils
functions-framework
metamist
pyyaml
python-rapidjson
google-api-python-client==2.79.0
google-cloud-bigquery==3.6.0
google-cloud-secret-manager==2.15.1
google-cloud-logging==3.5.0
pandas==1.5.3
pandas-gbq==0.19.1
